# HELP.md는 제외
HELP.md

# .gradle 디렉토리는 제외
.gradle/

# build 디렉토리는 제외, 하지만 libs는 포함 (빌드 결과물)
build/
!build/libs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# bin 디렉토리 제외
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# out 디렉토리 제외
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# 추가
application.yml
docker-compose.yml
database

# Gradle Wrapper 관련 파일 및 폴더는 포함
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat