@charset "UTF-8";

/* flex-container */
.header_container {
    display: flex;
    justify-content: center;
}

.logo_main {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    width: 207px;
    height: 45px;

    display: inline-block;
    overflow: hidden;
    text-indent: -999px;
}

.logo_etirovaf {
    background-image: url("data:image/svg+xml,%3Csvg width='178' height='43' viewBox='0 0 178 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.2938 39.56C11.7338 39.56 6.69375 35.16 6.69375 27.6C6.69375 20.24 12.0138 15.68 17.4938 15.68C24.0538 15.68 27.2538 20.44 27.2538 26.64C27.2538 27.92 27.0938 29.16 26.9338 29.72H13.5738C14.2138 32.84 16.3738 34.12 19.2538 34.12C20.8938 34.12 22.4138 33.64 24.0538 32.68L26.4138 36.96C24.0538 38.64 20.9338 39.56 18.2938 39.56ZM13.4538 25.04H21.2138C21.2138 22.8 20.2138 21.12 17.6138 21.12C15.6537 21.12 13.9338 22.36 13.4538 25.04ZM40.0197 39.56C34.2997 39.56 31.9797 35.92 31.9797 30.56V21.8H28.8997V16.52L32.4197 16.24L33.2197 10.2H39.0997V16.24H44.4597V21.8H39.0997V30.48C39.0997 33 40.2997 34 41.9797 34C42.6997 34 43.4997 33.76 44.0597 33.56L45.1797 38.72C43.9797 39.08 42.3397 39.56 40.0197 39.56ZM48.8722 39V16.24H55.9922V39H48.8722ZM52.4322 13.08C50.0322 13.08 48.4722 11.64 48.4722 9.4C48.4722 7.2 50.0322 5.76 52.4322 5.76C54.7922 5.76 56.3922 7.2 56.3922 9.4C56.3922 11.64 54.7922 13.08 52.4322 13.08ZM61.7238 39V16.24H67.5238L68.0438 20.2H68.1638C69.8438 17.16 72.3638 15.68 74.6438 15.68C76.0038 15.68 76.7638 15.88 77.4038 16.16L76.2438 22.28C75.4038 22.08 74.7238 21.92 73.7238 21.92C72.0438 21.92 70.0038 23 68.8438 26V39H61.7238ZM89.4163 39.56C83.6163 39.56 78.2563 35.16 78.2563 27.6C78.2563 20.08 83.6163 15.68 89.4163 15.68C95.1763 15.68 100.536 20.08 100.536 27.6C100.536 35.16 95.1763 39.56 89.4163 39.56ZM89.4163 33.8C92.0563 33.8 93.2563 31.4 93.2563 27.6C93.2563 23.84 92.0563 21.44 89.4163 21.44C86.7363 21.44 85.5363 23.84 85.5363 27.6C85.5363 31.4 86.7363 33.8 89.4163 33.8ZM109.542 39L101.982 16.24H109.142L111.902 26.72C112.502 28.96 113.022 31.32 113.622 33.72H113.822C114.382 31.32 114.942 28.96 115.502 26.72L118.302 16.24H125.142L117.782 39H109.542ZM133.148 39.56C128.948 39.56 126.388 36.44 126.388 32.64C126.388 27.84 130.148 25.24 139.028 24.28C138.868 22.44 137.908 21.36 135.588 21.36C133.788 21.36 131.908 22.08 129.628 23.36L127.148 18.68C130.148 16.88 133.388 15.68 136.948 15.68C142.828 15.68 146.148 18.96 146.148 26.08V39H140.348L139.868 36.72H139.668C137.788 38.4 135.668 39.56 133.148 39.56ZM135.588 34.04C137.028 34.04 137.988 33.36 139.028 32.24V28.6C134.588 29.16 133.148 30.48 133.148 32.08C133.148 33.4 134.108 34.04 135.588 34.04ZM152.206 39V9.2H171.206V15.16H159.366V21.68H169.526V27.64H159.366V39H152.206Z' fill='%23008AD7'/%3E%3C/svg%3E%0A");
    transition: transform 0.5s;
}
.logo_etirovaf:hover {
    transform: scale(1.2); /* 마우스를 올렸을 때 크기를 1.2배로 확대 */
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 87px;
}

.link_container {
    display: flex;
    justify-content: center;
    margin-top: 99px;
}

.index_title{
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 26px;
    text-align: center;
    color: #222222;
}

.index_text_form{
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

.index_text{
    font-weight: 300;
    font-size: 0.938rem;
    line-height: 30px;
    text-align: center;
    color: #424242;
}

.btn_start_form{
    background-color: rgba(213, 210, 210, 0.51);
    width: 151px;
    height: 43px;
    line-height: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 0.525rem;
    color: #828690;
}

.btn_start{
    width: 151px;
    height: 43px;
    background: #008AD7;
    box-shadow: none;
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: bold;
}

.btn_start:hover{
    background: #004281;
    cursor: pointer;
}