.box {
    height: 172px;
    width: 186px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box .image {
    height: 180px;
    left: 0;
    position: fixed;
    top: 0;
    width: 194px;
}