@charset "UTF-8";

.header{
    width: 312px;
    margin-top: 25px;
}
.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    position: relative;
    width: 360px;

    margin:0 auto;
}
.icon_back{
    position: unset !important;
}

.category_form{
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    margin-bottom: 13px;
}

.category_form::-webkit-scrollbar{
    display:none;
}

.category_list {
    display: flex;
    justify-content: flex-start;
    gap: 0.6rem;
    padding-bottom: 13px;

    border:none;
    scroll-snap-align: start;
    flex: 0 0 78%;
    margin-top: 12px;
    margin-left: 20px;
}

.basic_category {
    background: #f0efef;
    opacity: 1;
    position: relative;
    border-radius: 5px;

    overflow: hidden;
    padding: 3px 8px;
    font-size: 13px;
    cursor: pointer;
    width: 70px;
}

.all_category {
    opacity: 1;
    position: relative;
    border-radius: 5px;
    background-color: rgba(0, 138, 215, 0.5);
    overflow: hidden;
    padding: 3px 8px;
    font-size: 13px;
    cursor: pointer;
    display:inline-block;
    color: #ffffff;
}

.selected[value="1"] {
    background-color: #f5cd81;
    color: #ffffff;
}

.selected[value="2"] {
    background-color: #08b8b8;
    color: #ffffff;
}

.selected[value="3"] {
    background-color: #f2b8b8;
    color: #ffffff;
}
.default {
    background-color: #b9d9f8;
    color: #40709e;
}


.notice_title{
    margin-left: 110px;
    font-weight: 600;
}

.main{
    height: 1000px;
    margin-top: 31px;
}


.m_t_69{
    margin-top: 88px;
}

.notice_setting_form {
    border-radius: 5px;
    text-align: center;
    color: #828690;
}

.notice_setting{
    display: inline-block;
    width: 38px;
    background: #008AD7;
    box-shadow: none;
    border-radius: 5px;
    border: 1px solid #35549D;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 600;
    /*margin-right: 20px;*/
    margin: 14px 20px 0 0;
}