.container {
    display: flex;
    gap: 10px;
}

.search_form {
    display: flex;
    background: #f4f2f2f7;
    opacity: 1;
    position: relative;
    border: 0 solid rgba(230, 228, 228, 0.62);
    border-radius: 10px;
    height: 28px;
    overflow: hidden;
    margin: auto 0;
    width: 100%;
}

.search_input {
    background: #f4f2f2f7;
    text-align: left;
    height: 25px;
    flex-grow: 1;
    margin-left: 6px;
}

.search_input::placeholder{
    font-size: 0.825rem;
}

input::placeholder {
    font-size: 0.821rem;
    border: none;
}

input:focus {
    outline: none;
}


/* ---- icon ---------------------- */

.icon_dodbogi {
    margin-left: 6px;
    background: transparent
    url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z' fill='black' fill-opacity='0.87'/%3E%3C/svg%3E%0A")
    no-repeat center;
    background-position: 0% 0.2rem;
    border: 0px;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
}

.category_setting {
    display: flex;
}

.icon_category_setting {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.87658 0.226715C4.55578 0.226715 0.226868 4.55563 0.226868 9.87643C0.226868 15.1972 4.55578 19.5261 9.87658 19.5261C15.1974 19.5261 19.5263 15.1972 19.5263 9.87643C19.5263 4.55563 15.1974 0.226715 9.87658 0.226715ZM11.3611 14.3301H8.39201C8.19514 14.3301 8.00634 14.2519 7.86713 14.1127C7.72793 13.9735 7.64972 13.7847 7.64972 13.5879C7.64972 13.391 7.72793 13.2022 7.86713 13.063C8.00634 12.9238 8.19514 12.8456 8.39201 12.8456H11.3611C11.558 12.8456 11.7468 12.9238 11.886 13.063C12.0252 13.2022 12.1034 13.391 12.1034 13.5879C12.1034 13.7847 12.0252 13.9735 11.886 14.1127C11.7468 14.2519 11.558 14.3301 11.3611 14.3301ZM13.588 11.361H6.16515C5.96829 11.361 5.77948 11.2828 5.64028 11.1436C5.50107 11.0044 5.42287 10.8156 5.42287 10.6187C5.42287 10.4218 5.50107 10.233 5.64028 10.0938C5.77948 9.95463 5.96829 9.87643 6.16515 9.87643H13.588C13.7849 9.87643 13.9737 9.95463 14.1129 10.0938C14.2521 10.233 14.3303 10.4218 14.3303 10.6187C14.3303 10.8156 14.2521 11.0044 14.1129 11.1436C13.9737 11.2828 13.7849 11.361 13.588 11.361ZM15.0726 8.39186H4.68058C4.48371 8.39186 4.29491 8.31365 4.15571 8.17445C4.0165 8.03524 3.9383 7.84644 3.9383 7.64957C3.9383 7.4527 4.0165 7.2639 4.15571 7.12469C4.29491 6.98549 4.48371 6.90728 4.68058 6.90728H15.0726C15.2694 6.90728 15.4582 6.98549 15.5975 7.12469C15.7367 7.2639 15.8149 7.4527 15.8149 7.64957C15.8149 7.84644 15.7367 8.03524 15.5975 8.17445C15.4582 8.31365 15.2694 8.39186 15.0726 8.39186Z' fill='%23A29EF0'/%3E%3C/svg%3E%0A");
    cursor: pointer;
}