@charset "UTF-8";

/* ----------- create1 ----------- */

.create1_main_content {
    margin-top: 109px;
    text-align: center;
}

/* ----------- create1 카테고리 박스 선택 ----------- */
.category_select {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select_box_list {
    margin-top: 80px;
}
.input_address{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.categ_eff {
    background-color: #f0f2f3;
}

/* .categ_eff:active{
    background-color: #F0F2F3;
} */

.m_t_button {
    margin-top: 114px;
}

/* ----------- create2 ----------- */

/* ---- category + select-style ---------------------- */

.create2_back{
    position: absolute;
    top: -1px;
    left: 390px;
}

.header_form{
    width: 360px;
}

.category_form{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.category_info_form{
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}

.category_box {
    border: 1px solid #e4dfdf;
    border-radius: 10px;

    vertical-align: middle;
    text-align: center;

    width: 95px;
    height: 40px;

    font-size: 15px;
    font-weight: 600;
    outline: none;
}


.create2_post {
    cursor: pointer;
    position: absolute;
    /*top: 15px;*/
    /*right: 18px;*/
    top: 15px;
    right: 410px;

    border: none;
    background-color: transparent;
    color: #008AD7;

    font-size: 12px;
    font-weight: 700;
}

.file_box {
    margin-top: 35px;
}
/* 파일 업로드시, 이미지 미리보기 */
.uploaded_files {
    display: block;
    width: 100%;
    height: 100%;
}

.input_info_form{
    margin-top: 6px;
}

.input_info_form2{
    margin-top: 6px;
    width: 100px;
}

.input_date_member{
    display: flex;
}

.input_info_title {
    color: #000000;
    font-weight: 500;
    /* flex: 0 0 auto; */
    white-space: nowrap;
    font-size: 12px;
}

.input_field {
    display: inline-block;
    margin-left: 0px;
    height: 70%;
    width: 280px;
    text-indent: 25px;
    /* background-color: #7bb1ce; */
}

.input_field::placeholder{
    font-size: 0.825rem;
}

.input_field_textarea {
    display: inline-block;
    margin-left: 0px;
    height: 70%;
    width: 170px;
    text-indent: 10px;
    /* background-color: #7bb1ce; */
}

.input_field2 {
    margin-left: 30px;
    height: 70%;
    width: 200px;
}

input[type="datetime-local"]:not(.has-value):before{
    color: lightgray;
    content: attr(placeholder);
}


/* ---- select-box 박스 ---------------------- */

.select_box {
    border: 1px solid #e4dfdf;
    /* 원래 F0F2F3 #E4DFDF */

    width: 300px;
    height: 40px;
    border-radius: 10px;

    background-color: #fff;
    font-size: 12px;

    line-height: 40px;

    cursor: pointer;
    margin-top: 4px;
}
.select_box2 {
    border: 1px solid #e4dfdf;
    /* 원래 F0F2F3  #E4DFDF*/

    width: 300px;
    height: 40px;
    border-radius: 10px;

    background-color: #fff;
    margin-top: 10px;
    font-size: 12px;

    line-height: 40px;
}

.select_box_date {
    border: 1px solid #e4dfdf;
    /* 원래 F0F2F3 #E4DFDF */

    width: 130px;
    height: 40px;
    border-radius: 10px;

    background-color: #fff;
    font-size: 12px;

    line-height: 40px;

    cursor: pointer;
    margin-top: 4px;
}

.select_box_member {
    border: 1px solid #e4dfdf;
    /* 원래 F0F2F3 #E4DFDF */

    width: 160px;
    height: 40px;
    border-radius: 10px;

    background-color: #fff;
    font-size: 12px;

    line-height: 40px;

    cursor: pointer;
    margin-top: 4px;
}


.select_content {
    height: 300px;
    display: flex;
    justify-content: center;
}

.input_content {
    width: 90%;
    height: 70%;
    margin-top: 1%;
    border: none;
    overflow: auto;
    margin: 20px 5px;
}
.people_count_box {
    display: flex;
    align-items: center;
    margin-left: 60px;
}
.people_count_num {
    width: 30px;
    text-align: center;
}

/* datetime-local 조절용 */
input[type="datetime-local"]::before {
    /* content: attr(data-placeholder); */
    width: 90%;
    text-align: right;
    margin-right: 15px;
}
input[type="datetime-local"]:focus::before,
input[type="datetime-local"]:valid::before {
    display: none;
}
.date_pic {
    display: inline-block;
    margin-right: 10px;
    width: 70%;
}
