/* ---- font-style ---------------------- */

.f_family {
    font-family: "Noto Sans KR", sans-serif;
}

.f_size {
    font-size: 16px;
}

.f_size_1 {
    font-size: 0.88em;
}

.f_size_2 {
    font-size: 1.125em;
}

.f_size_3 {
    font-size: 50px;
}

.f_color {
    color: #000;
}

.f_color_2 {
    color: #ca8d94;
}

.f_weight {
    font-weight: bold;
}

.f_weight_eb {
    font-weight: 900;
}

/* ---- header-style ---------------------- */

.hd_title_box {
    width: 100%;
    text-align: center;
}

.hd_title_box > .hd_title {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}

/* ============ logo-style ============ */

.logo_main {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    width: 207px;
    height: 45px;

    display: inline-block;
    overflow: hidden;
    text-indent: -999px;
}

/* ---- icon-style ---------------------- */
.icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 24px;
    height: 24px;

    display: inline-block;
    overflow: hidden;
    text-indent: -999px;
}
.icon_line {
    background-image: url("data:image/svg+xml,%3Csvg width='328' height='3' viewBox='0 0 328 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.00158227' y1='0.500003' x2='327.001' y2='1.53481' stroke='black' stroke-opacity='0.15'/%3E%3C/svg%3E%0A");
    width: 100%;
    height: 5px;
}

.icon_back {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 7H3.83L9.42 1.41L8 0L0 8L8 16L9.41 14.59L3.83 9H16V7Z' fill='black'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 18px;
    left: 19px;

    width: 16px;
    height: 16px;
    z-index: 9;
}
.icon_home {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20'%3E%3Cpath d='M5.5 15.5h2v-5h5v5h2V8.25L10 4.875 5.5 8.25ZM4 17V7.5L10 3l6 4.5V17h-5v-5H9v5Zm6-6.812Z'/%3E%3C/svg%3E");
}

.icon_search {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20'%3E%3Cpath d='m15.938 17-4.98-4.979q-.625.458-1.375.719Q8.833 13 8 13q-2.083 0-3.542-1.458Q3 10.083 3 8q0-2.083 1.458-3.542Q5.917 3 8 3q2.083 0 3.542 1.458Q13 5.917 13 8q0 .833-.26 1.583-.261.75-.719 1.375L17 15.938ZM8 11.5q1.458 0 2.479-1.021Q11.5 9.458 11.5 8q0-1.458-1.021-2.479Q9.458 4.5 8 4.5q-1.458 0-2.479 1.021Q4.5 6.542 4.5 8q0 1.458 1.021 2.479Q6.542 11.5 8 11.5Z'/%3E%3C/svg%3E");
}

.icon_search_cancel {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' viewBox='0 96 960 960' width='48'%3E%3Cpath d='m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z'/%3E%3C/svg%3E");
}

.icon_post {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20'%3E%3Cpath d='M9.458 13.792h1.084v-3.25h3.25V9.458h-3.25v-3.25H9.458v3.25h-3.25v1.084h3.25ZM10 17.583q-1.562 0-2.948-.593-1.385-.594-2.417-1.625-1.031-1.032-1.625-2.417-.593-1.386-.593-2.948 0-1.583.593-2.958.594-1.375 1.625-2.407Q5.667 3.604 7.052 3.01 8.438 2.417 10 2.417q1.583 0 2.958.593 1.375.594 2.407 1.625 1.031 1.032 1.625 2.417.593 1.386.593 2.948t-.593 2.948q-.594 1.385-1.625 2.417-1.032 1.031-2.417 1.625-1.386.593-2.948.593Zm0-1.083q2.708 0 4.604-1.896T16.5 10q0-2.708-1.896-4.604T10 3.5q-2.708 0-4.604 1.896T3.5 10q0 2.708 1.896 4.604T10 16.5Zm0-6.5Z'/%3E%3C/svg%3E");
}

.icon_chat {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20'%3E%3Cpath d='M2.083 17.542V3.667q0-.667.459-1.125.458-.459 1.125-.459h12.666q.667 0 1.125.459.459.458.459 1.125V13q0 .667-.459 1.125-.458.458-1.125.458H5.042Zm1.334-3.23 1.062-1.062h11.854q.105 0 .177-.073.073-.073.073-.177V3.667q0-.105-.073-.177-.072-.073-.177-.073H3.667q-.105 0-.177.073-.073.072-.073.177Zm0-10.645v-.25 10.895Z'/%3E%3C/svg%3E");
    width: 19px;
    height: 19px;
    text-align: center;
    margin-top: 3px;
}

.icon_info {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='M12 11.7q-1.45 0-2.475-1.038Q8.5 9.625 8.5 8.2q0-1.45 1.025-2.475Q10.55 4.7 12 4.7q1.45 0 2.475 1.025Q15.5 6.75 15.5 8.2q0 1.425-1.025 2.462Q13.45 11.7 12 11.7Zm-7.5 7.6v-2.225q0-.725.4-1.35.4-.625 1.075-.975 1.475-.725 2.988-1.088Q10.475 13.3 12 13.3t3.038.362q1.512.363 2.987 1.088.675.35 1.075.975.4.625.4 1.35V19.3ZM6 17.8h12v-.725q0-.3-.175-.55-.175-.25-.475-.425-1.3-.625-2.637-.963Q13.375 14.8 12 14.8t-2.713.337q-1.337.338-2.637.963-.3.175-.475.425t-.175.55Zm6-7.6q.825 0 1.413-.588Q14 9.025 14 8.2t-.587-1.413Q12.825 6.2 12 6.2q-.825 0-1.412.587Q10 7.375 10 8.2q0 .825.588 1.412.587.588 1.412.588Zm0-2Zm0 9.6Z'/%3E%3C/svg%3E");
}

.icon_filled_cancel {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 96 960 960' width='24'%3E%3Cpath d='m336 748.308 144-144 144 144L652.308 720l-144-144 144-144L624 403.692l-144 144-144-144L307.692 432l144 144-144 144L336 748.308ZM480.134 936q-74.673 0-140.41-28.339-65.737-28.34-114.365-76.922-48.627-48.582-76.993-114.257Q120 650.806 120 576.134q0-74.673 28.339-140.41 28.34-65.737 76.922-114.365 48.582-48.627 114.257-76.993Q405.194 216 479.866 216q74.673 0 140.41 28.339 65.737 28.34 114.365 76.922 48.627 48.582 76.993 114.257Q840 501.194 840 575.866q0 74.673-28.339 140.41-28.34 65.737-76.922 114.365-48.582 48.627-114.257 76.993Q554.806 936 480.134 936Z'/%3E%3C/svg%3E");
}

/* user sidebar icon  */

.icon_close {
    background_image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='m6.3 19.6-1.85-1.9 5.675-5.7L4.45 6.25l1.85-1.9 5.725 5.75L17.7 4.35l1.85 1.9L13.875 12l5.675 5.7-1.85 1.9-5.675-5.75Z'/%3E%3C/svg%3E");
}

/* ========= admin sidebar icon ==================  */

.icon_membermanage {
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1071 17.1875C9.18215 17.1875 3.35715 18.65 3.35715 21.5625V23.75H20.8571V21.5625C20.8571 18.65 15.0321 17.1875 12.1071 17.1875ZM6.28215 21.25C7.33215 20.525 9.86965 19.6875 12.1071 19.6875C14.3446 19.6875 16.8821 20.525 17.9321 21.25H6.28215ZM12.1071 15C14.5196 15 16.4821 13.0375 16.4821 10.625C16.4821 8.2125 14.5196 6.25 12.1071 6.25C9.69465 6.25 7.73215 8.2125 7.73215 10.625C7.73215 13.0375 9.69465 15 12.1071 15ZM12.1071 8.75C13.1446 8.75 13.9821 9.5875 13.9821 10.625C13.9821 11.6625 13.1446 12.5 12.1071 12.5C11.0696 12.5 10.2321 11.6625 10.2321 10.625C10.2321 9.5875 11.0696 8.75 12.1071 8.75ZM20.9071 17.2625C22.3571 18.3125 23.3571 19.7125 23.3571 21.5625V23.75H28.3571V21.5625C28.3571 19.0375 23.9821 17.6 20.9071 17.2625ZM19.6071 15C22.0196 15 23.9821 13.0375 23.9821 10.625C23.9821 8.2125 22.0196 6.25 19.6071 6.25C18.9321 6.25 18.3071 6.4125 17.7321 6.6875C18.5196 7.8 18.9821 9.1625 18.9821 10.625C18.9821 12.0875 18.5196 13.45 17.7321 14.5625C18.3071 14.8375 18.9321 15 19.6071 15Z' fill='black'/%3E%3C/svg%3E%0A");
}

.icon_category {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.83335 0.666687C3.72829 0.666687 2.66848 1.10567 1.88708 1.88708C1.10567 2.66848 0.666688 3.72828 0.666688 4.83335V8.99964C0.666411 9.32814 0.731011 9.65347 0.856782 9.95695C0.982561 10.2605 1.16733 10.5364 1.39992 10.7684L7.23252 16.601C7.70134 17.0697 8.33711 17.333 9.00002 17.333C9.66293 17.333 10.2988 17.0696 10.7676 16.6009L16.601 10.7675C17.0697 10.2987 17.333 9.66293 17.333 9.00002C17.333 8.33711 17.0696 7.70125 16.6009 7.23243L10.768 1.39951C10.2799 0.910335 9.63809 0.666687 9.00002 0.666687H4.83335ZM9.00002 15.6663C9.22095 15.6663 9.43283 15.5786 9.5891 15.4224L15.4224 9.5891C15.5786 9.43283 15.6663 9.22095 15.6663 9.00002C15.6663 8.77909 15.5786 8.56721 15.4224 8.41094L9.58834 2.57685C9.4265 2.41459 9.21514 2.33335 9.00002 2.33335H4.83335C4.17031 2.33335 3.53443 2.59675 3.06559 3.06559C2.59675 3.53443 2.33335 4.17031 2.33335 4.83335L2.33335 9.00088C2.33324 9.11 2.35469 9.21806 2.39646 9.31887C2.43824 9.41967 2.49952 9.51122 2.57679 9.58827L2.57761 9.5891L8.41085 15.4223C8.56712 15.5785 8.77909 15.6663 9.00002 15.6663ZM4.00002 4.83335C4.00002 4.37312 4.37312 4.00002 4.83335 4.00002H4.84169C5.30193 4.00002 5.67502 4.37312 5.67502 4.83335C5.67502 5.29359 5.30193 5.66669 4.84169 5.66669H4.83335C4.37312 5.66669 4.00002 5.29359 4.00002 4.83335Z' fill='%23111827'/%3E%3C/svg%3E%0A");
}

.icon_report {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='24' viewBox='0 0 33 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.86907 0.317761C4.69195 0.517717 4.53671 0.799943 4.53671 0.941236C4.53671 1.11758 4.97986 1.68239 5.94326 2.71758C7.18379 4.04681 7.39392 4.22351 7.71516 4.22351C8.19131 4.22351 8.52366 3.87046 8.52366 3.36467C8.52366 3.03522 8.34654 2.79986 7.17234 1.55291C5.61124 -0.0939546 5.37855 -0.211638 4.86907 0.317761Z' fill='black'/%3E%3Cpath d='M27.3515 0.0705891C27.2629 0.106002 26.5763 0.776335 25.8341 1.55291C24.6492 2.79986 24.472 3.03522 24.472 3.36467C24.472 3.87046 24.8044 4.22351 25.2805 4.22351C25.6018 4.22351 25.8123 4.04716 27.0525 2.71758C28.0162 1.68239 28.459 1.11758 28.459 0.941236C28.459 0.647205 27.8943 -0.011682 27.6616 0.00012207C27.5842 0.00012207 27.44 0.0351768 27.3515 0.0705891Z' fill='black'/%3E%3Cpath d='M15.2021 3.16475C12.0899 3.64693 9.28797 5.96484 8.12522 9.02355C7.51607 10.6236 7.49384 10.8589 7.43862 14.8942L7.39417 18.694H6.92914C6.60789 18.694 6.35332 18.7763 6.15397 18.9412C5.86606 19.1766 5.86606 19.2002 5.86606 20.6471V22.1058H5.07978C4.29351 22.1058 3.92815 22.2235 3.68435 22.5647C3.40755 22.9532 3.6069 23.6353 4.06082 23.8589C4.43729 24.047 28.559 24.047 28.9466 23.8589C29.3342 23.6707 29.5224 23.1413 29.3564 22.706C29.1793 22.2589 28.8139 22.1061 27.9058 22.1061H27.1306V20.6474C27.1306 19.2005 27.1306 19.1769 26.8427 18.9416C26.6433 18.777 26.3884 18.6944 26.0675 18.6944H25.6025L25.558 14.8945C25.5028 10.8593 25.4806 10.6239 24.8714 9.02391C24.4283 7.84743 23.8969 7.0358 22.9224 5.977C20.8616 3.75317 18.0485 2.72942 15.2021 3.16475ZM18.2478 5.106C19.5658 5.43544 20.5514 6.04711 21.6479 7.22359C22.423 8.04702 22.7443 8.48235 23.0544 9.16484C23.7855 10.753 23.8296 11.0589 23.8851 15.0709L23.9404 18.6944H16.4978H9.05529L9.11051 15.0709C9.16574 11.0592 9.21018 10.753 9.94124 9.16484C10.2514 8.48235 10.5726 8.04702 11.3478 7.22359C12.4331 6.05891 13.4076 5.44724 14.6704 5.1178C15.5455 4.89424 17.3727 4.89424 18.2478 5.106ZM25.4688 21.3414V22.1061H16.4982H7.52718V21.3414V20.5766H16.4982H25.4688V21.3414Z' fill='black'/%3E%3Cpath d='M15.0913 6.50604C12.9318 7.05905 11.0821 9.08257 10.6393 11.3765C10.3514 12.8706 10.573 13.5646 11.3482 13.5646C11.9017 13.5646 12.1233 13.2587 12.2119 12.3648C12.3227 11.2706 12.6769 10.4236 13.3416 9.65883C14.0838 8.81179 14.8701 8.37646 16.0439 8.17651C17.0184 8.01196 17.2178 7.89428 17.3175 7.45896C17.3949 7.11771 17.1515 6.51784 16.8854 6.41196C16.5975 6.29428 15.7227 6.34114 15.0913 6.50604Z' fill='black'/%3E%3Cpath d='M0.239563 5.20002C-0.0816828 5.56488 -0.0816828 6.11788 0.250675 6.42372C0.383686 6.55321 1.49121 7.09441 2.7203 7.62381C5.07913 8.6472 5.35626 8.70622 5.6994 8.18862C5.90986 7.87098 5.90986 7.41205 5.71051 7.12982C5.52227 6.87085 1.16963 4.92996 0.770932 4.92996C0.605258 4.9296 0.372574 5.04692 0.239563 5.20002Z' fill='black'/%3E%3Cpath d='M29.644 5.92939C28.4368 6.47059 27.3738 7.01179 27.296 7.12948C27.0855 7.41171 27.0855 7.87064 27.296 8.18828C27.6394 8.70587 27.9162 8.64721 30.2751 7.62347C31.5045 7.09407 32.612 6.55286 32.7558 6.42337C33.2875 5.90578 32.8888 4.91745 32.1578 4.94106C31.981 4.94141 30.8512 5.38818 29.644 5.92939Z' fill='black'/%3E%3Cpath d='M0.416671 11.9295C-0.136923 12.2589 -0.114698 13.1882 0.438895 13.4823C0.627131 13.5882 1.29185 13.6354 2.49904 13.6354C4.13827 13.6354 4.30429 13.6118 4.58108 13.3882C4.95755 13.0706 4.99089 12.3766 4.63631 12.0354C4.42585 11.8354 4.19316 11.8118 2.55427 11.7882C1.08139 11.7646 0.660468 11.7882 0.416671 11.9295Z' fill='black'/%3E%3Cpath d='M28.6807 11.8354C28.0604 12.0822 27.9052 12.9647 28.4146 13.3882C28.6914 13.6118 28.8578 13.6354 30.4967 13.6354C32.4349 13.6354 32.7558 13.5531 32.9333 13.0352C33.0771 12.5762 32.9333 12.1294 32.5568 11.9295C32.313 11.7882 31.848 11.7531 30.5411 11.765C29.6111 11.7646 28.7692 11.8 28.6807 11.8354Z' fill='black'/%3E%3C/svg%3E%0A");
}

.icon_analytics {
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.1071 2.53125V6.31875C21.3446 6.93125 24.6071 10.5562 24.6071 14.9688C24.6071 16.0938 24.3821 17.1562 24.0071 18.1437L27.2571 20.0562C27.9571 18.5062 28.3571 16.7812 28.3571 14.9688C28.3571 8.49375 23.4196 3.15625 17.1071 2.53125ZM15.8571 23.7188C11.0196 23.7188 7.10715 19.8062 7.10715 14.9688C7.10715 10.5562 10.3696 6.93125 14.6071 6.31875V2.53125C8.28215 3.15625 3.35715 8.48125 3.35715 14.9688C3.35715 21.8687 8.94465 27.4688 15.8446 27.4688C19.9821 27.4688 23.6446 25.4562 25.9196 22.3562L22.6696 20.4437C21.0696 22.4437 18.6196 23.7188 15.8571 23.7188Z' fill='black'/%3E%3C/svg%3E%0A");
}

/* ========= admin ==================  */

.icon_delete {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='25' viewBox='0 0 22 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.0938 1.56251H15.2344L14.7754 0.649423C14.6782 0.454215 14.5284 0.29001 14.3429 0.175281C14.1575 0.0605526 13.9437 -0.00014785 13.7256 8.5609e-06H8.14453C7.92694 -0.000827891 7.71352 0.0596463 7.52871 0.174503C7.34391 0.289359 7.19519 0.453951 7.09961 0.649423L6.64062 1.56251H0.78125C0.57405 1.56251 0.375336 1.64482 0.228823 1.79133C0.08231 1.93784 0 2.13656 0 2.34376L0 3.90626C0 4.11346 0.08231 4.31217 0.228823 4.45869C0.375336 4.6052 0.57405 4.68751 0.78125 4.68751H21.0938C21.301 4.68751 21.4997 4.6052 21.6462 4.45869C21.7927 4.31217 21.875 4.11346 21.875 3.90626V2.34376C21.875 2.13656 21.7927 1.93784 21.6462 1.79133C21.4997 1.64482 21.301 1.56251 21.0938 1.56251ZM2.59766 22.8027C2.63492 23.3978 2.89754 23.9562 3.33206 24.3644C3.76658 24.7727 4.34033 24.9999 4.93652 25H16.9385C17.5347 24.9999 18.1084 24.7727 18.5429 24.3644C18.9775 23.9562 19.2401 23.3978 19.2773 22.8027L20.3125 6.25001H1.5625L2.59766 22.8027Z' fill='%23E14A4A'/%3E%3C/svg%3E ");
}
.admin_edit_icon {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1968 4.55237L20.4478 10.8033L6.87407 24.3771L1.30082 24.9923C0.554729 25.0748 -0.0756416 24.444 0.00736623 23.6979L0.627483 18.1207L14.1968 4.55237ZM24.314 3.6217L21.3789 0.686646C20.4634 -0.228882 18.9786 -0.228882 18.063 0.686646L15.3018 3.44788L21.5528 9.69885L24.314 6.93762C25.2295 6.02161 25.2295 4.53723 24.314 3.6217Z' fill='%23FF8F0E'/%3E%3C/svg%3E ");
    margin-right: 10px;
}

/* ------------- error-message-modal  ------------- */
.black_bg {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.error_box {
    position: absolute;
    width: 300px;
    height: 70px;
    background: #ffffff;
    border-radius: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    line-height: 70px;
    text-align: center;
    font-size: 13px;
}
.error_close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 9px;
    height: 9px;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.360716 2.09522C-0.120239 1.61939 -0.120239 0.841672 0.360716 0.360716C0.836555 -0.120239 1.61427 -0.120239 2.09522 0.360716L4.5 2.76549L6.90478 0.360716C7.38062 -0.120239 8.15833 -0.115122 8.63929 0.360716C9.12024 0.836555 9.12024 1.61427 8.63929 2.09522L6.23451 4.5L8.63929 6.90478C9.12024 7.38062 9.11512 8.15833 8.63929 8.63929C8.16345 9.12024 7.38573 9.12024 6.90478 8.63929L4.5 6.23451L2.09522 8.63929C1.61939 9.12024 0.841672 9.11512 0.360716 8.63929C-0.120239 8.16345 -0.120239 7.38573 0.360716 6.90478L2.76549 4.5L0.360716 2.09522Z' fill='%23585858'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}