@charset "UTF-8";
/* ==== utils ============================ */


/* ---- padding ---------------------- */
.p_5{
    padding: 5px;
}

.p_10{
    padding: 10px;
}

.p_t_10{
    padding-top: 10px;
}

.p_t_14{
    padding-top: 14px;
}

.p_t_20{
    padding-top: 20px;
}

.p_l_10{
    padding-left: 10px;
}

.p_l_20{
    padding-left: 20px;
}

/* 수평 여백 */
.p_lr_25{
    padding: 0 25px;
}

.p_lr_30{
    padding: 0 30px;
}

/* ---- margin ---------------------- */
.m_5{
    margin: 5px;
}

.m_10{
    margin: 10px;
}

.m_t_10{
    margin-top: 10px;
}

.m_t_20{
    margin-top: 20px;
}

.m_t_30{
    margin-top: 30px;
}

.m_t_40{
    margin-top: 40px;
}

.m_t_13{
    margin-top: 13px;
}

.m_t_28{
    margin-top: 28px;
}

.m_t_35{
    margin-top: 35px;
}

.m_t_62{
    margin-top: 62px;
}

.m_t_72{
    margin-top: 72px;
}

.m_t_77{
    margin-top: 77px;
}
.m_t_80{
    margin-top: 80px;
}
.m_t_90{
    margin-top: 90px;
}
.m_t_137{
    margin-top: 137px;
}
.m_t_138{
    margin-top: 138px;
}

.m_t_218{
    margin-top: 218px;
}

.m_t_300{
    margin-top: 300px;
}

.m_t_p1{
    margin-top: 1%;
}

.m_t_p5{
    margin-top: 5%;
}

.m_l_10{
    margin-left: 10px;
}

.m_l_15{
    margin-left: 15px;
}

.m_l_20{
    margin-left: 20px;
}

.m_l_6{
    margin-left: 6px;
}

.m_l_13{
    margin-left: 13px;
}

.m_l_40{
    margin-left: 40px;
}

.m_l_250{
    margin-left: 250px;
}

.m_l_300{
    margin-left: 300px;
}

.m_l_450{
    margin-left: 450px;
}

.m_l_600{
    margin-left: 600px;
}

.m_l_p1{
    margin-left: 1%;
}

.m_l_p5{
    margin-left: 5%;
}

.m_r_30{
    margin-right: 30px;
}

.m_r_120{
    margin-right: 120px;
}

.m_r_130{
    margin-right: 130px;
}

.m_r_144{
    margin-right: 144px;
}

.m_r_255{
    margin-right: 255px;
}

.m_r_300{
    margin-right: 300px;
}

.m_r_600{
    margin-right: 600px;
}

.m_r_800{
    margin-right: 800px;
}

.m_b_35{
    margin-bottom: 35px;
}

.m_nt_5{
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

/* 수평 여백 */
.m_lr_25{
    margin: 0 25px;
}

.m_lr_30{
    margin: 0 30px;
}


/* ---- display ---------------------- */
.d_none{
    display: none;
}

.d_b_none{
    border: none;
}

.d_in_block{
    display: inline-block;
}


/* ---- flex ---------------------- */
.d_f{
    display: flex;
}

.d_fl_ac{
    display: flex;
    align-items: center;
}

.d_fl_jf{
    display: flex;
    justify-content: center;
}

.d_f_ac{
    display: flex;
    align-items: center;
}

.d_f_jc{
    display: flex;
    justify-content: center;
}

/* --- flex:dir --- */
.fl_dir_col{
    flex-direction: column;
}

.fl_dir_row{
    flex-direction: row;
}

.jf_sb{
    justify-content: space-between;
}

.jf_sa{
    justify-content: space-around;
}

.al_sb{
    align-content: space-between;
}

.jf_sa{
    align-content: space-around;
}

.fl_1{
    flex: 1;
}

.h_80p{
    height:80%;
}

.h_full{
    height:100%;
}

.w_80p{
    width:80%;
}

.w_full{
    width:100%;
}

.jf_fe{
    justify-content: flex-end;
}

.jf_fe_self{
    justify-self: flex-end;
}

.al_fs{
    align-items: flex-start;
}

.al_fe{
    align-items: flex-end;
}

.al_c{
    align-items: center;
}

.jf_c{
    justify-content: center;
}

/* ---- grid ---------------------- */
.d_gr{
    display: grid;
}


/* ---- position ---------------------- */
.p_ab{
    position: absolute;
}

.p_fx{
    position: fixed;
}

.p_rel{
    position: relative;
}

.pos_l_0{
    left: 0px;
}

.pos_l_1{
    left: 10px;
}

.pos_l_2{
    left: 20px;
}

.pos_b_0{
    bottom: 0px;
}

.pos_b_1{
    bottom: 10px;
}

.pos_b_2{
    bottom: 20px;
}

.pos_t_0{
    top: 0px;
}

.pos_t_1{
    top: 10px;
}

.pos_t_2{
    top: 20px;
}

/* === modal ============ */
.modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}
.modal.show {
    display: block;
}

.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 50%;
    height: 60%;

    padding: 40px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}

.over_h{
    overflow: hidden;
}

.border_radious {
    border-radius: 10px;
}

.dialog_title {
    text-align: start;
    font-size: 20px;
}